{{#sesion}}
<table id="tablaNoticias" class='table table-hover table-striped'>
    <thead>
        <tr class='text-center text-light bg-primary'>
            <th scope='col'>Titulo Noticia</th>
            <th scope='col'>Diario o Revista</th>
            <th scope='col'>Edicion</th>
            <th scope='col'>Seccion</th>
            <th scope='col'>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#EsContenidista}}{{#noticias}}
        <tr class='text-center' id="noticia{{Id}}">
            <td>{{Titulo}}</td>
            <td>{{Producto}}</td>
            <td>{{Edicion}}</td>
            <td>{{Seccion}}</td>
            <td class="col-md-5">
                <div class='d-flex justify-content-center'>
                    {{#EsEditor}}
                    <form action="/noticia/leer" method="POST">
                        <div class='px-2'>
                            <button class='btn btn-info text-light leer' name="idNoticia" style="width: 9rem;" type='submit'
                                value="{{Id}}">
                                Leer
                            </button>
                        </div>
                    </form>
                    {{/EsEditor}}
                    {{#SoloEditor}}
                    <div class='px-2'>
                        <button class='btn btn-success aprobar{{IdEstadoNoticia}}' id="aprobar{{Id}}"
                            style="width: 9rem;" name="aprobar" type='button' value="{{Id}}" disabled>
                            Aprobar
                        </button>
                    </div>
                    <div class='px-2'>
                        <button class='btn btn-danger rechazar{{IdEstadoNoticia}}' id="rechazar{{Id}}"
                            style="width: 9rem;" name="rechazar" type='button' value="{{Id}}" disabled>
                            Rechazar
                        </button>
                    </div>
                    {{/SoloEditor}}
                    {{#EsAdministrador}}
                    <div class='px-2'>
                        <button class='btn btn-danger banear{{IdEstadoNoticia}}' id="banear{{Id}}" style="width: 9rem;"
                            name="banear" type='button' value="{{Id}}" disabled>
                            Banear
                        </button>
                    </div>
                    <div class='px-2 baneada{{IdEstadoNoticia}}'></div>
                    {{/EsAdministrador}}
                    {{#SoloContenidista}}
                    <form class="form-leer{{Id}}" action="/noticia/leer" method="POST">
                        <input type="hidden" name="idNoticia" value="{{Id}}">
                        <div class='px-2'>
                            <button class='btn btn-info text-light leer{{IdEstadoNoticia}}' name="leer"
                                style="width: 9rem;" type='button' value="{{Id}}">
                                Leer
                            </button>
                        </div>
                    </form>
                    <form action="/noticia/modificar" method="POST">
                        <input type="hidden" name="IdEdicionSeccion" value={{IdEdicionSeccion}}>
                        <div class='px-2'>
                            <button class='btn btn-primary modificar{{IdEstadoNoticia}}' id="modificar{{Id}}"
                                style="width: 9rem;" name="modificar" type='submit' value="{{Id}}" disabled>
                                Modificar
                            </button>
                        </div>
                    </form>
                    <div class='px-2'>
                        <button class='btn btn-danger borrar{{IdEstadoNoticia}}' id="borrar{{Id}}" style="width: 9rem;"
                            name="borrar" type='button' value="{{Id}}" disabled>
                            Borrar
                        </button>
                    </div>
                    {{/SoloContenidista}}
                </div>
            </td>
        </tr>
        {{/noticias}}{{/EsContenidista}}
        <tbody>
            {{#SoloLector}}{{#noticias}}{{#Publicada}}
            <tr class='text-center' id="noticia{{Id}}">
                <td>{{Titulo}}</td>
                <td>{{Producto}}</td>
                <td>{{Edicion}}</td>
                <td>{{Seccion}}</td>
                <td class="col-md-5">
                    <div class='d-flex justify-content-center'>
                        <form action="/noticia/leer" method="POST">
                            <div class='px-2'>
                                <button class='btn btn-info text-light leer' name="idNoticia" style="width: 9rem;" type='submit'
                                    value="{{Id}}">
                                    Leer
                                </button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            {{/Publicada}}{{/noticias}}{{/SoloLector}}
    </tbody>
</table>
{{/sesion}}