{{> header}}
<div class="container" id="ABMNoticias" style="min-height:calc(100vh - 17.5rem);">
<h1 class="text-center"> ABM de Noticias</h1>
    <input type="hidden" id="IdEdicionSeccion" value="{{IdEdicionSeccion}}">
    <!--<h1 class="display-1 text-center m-4">ABM NOTICIAS</h1>-->
    <form class="form-inline" id="buscar" action="/noticia/buscar" method="GET">
        <div class="row">
            <div class="col-md-9">
                <input class="form-control" id="busqueda" autocomplete="off" type="text" name="busqueda" placeholder="Buscar noticia...">
            </div>
            <button class="btn btn-primary col-md-3" type="submit">Buscar</button>
        </div>
        <div id="busquedaVacia" class="text-danger pt-1"></div>
    </form>
    <div class="col-md-12">
    <div class="alert alert-primary" role="alert"> 
        <p>Dar de alta a una noticia:</p>
        <p>1- Seleccionar un producto</p>
        <p>2- Seleccionar un edición</p>
        <p>3- Asignar una sección</p>
    </div> 
</div>  
    <form action="/noticia/listarNoticias" method="GET">
        <div class="row my-4">
            <div class="col-md-3" id="listarProductos"></div>
            <div class="col-md-3" id="listarEdiciones"></div>
            <div class="col-md-3" id="listarSecciones"></div>
            <button type="submit" id="verNoticias" class="btn btn-success col-md-3" style="display: none;">Ver
                Noticias</button>
        </div>
    </form>
    <div id="imagen" class="d-flex justify-content-center" ></div>
</div>
<script type="text/javascript" src="/public/js/noticias.js"></script>
{{> footer}}