 {{> header}}
<div class="container">
{{#producto}}
    <h1>Planes de suscripción a "{{Nombre}}"</h1>
    <div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
              <div class="px-2">
                  <h2 class="card-title">Pago Mensual</h2>
                  <img src="../public/{{ Imagen }}" />
                  <h4>${{Mensualidad}}/mes</h4>
                  <h5>durante 6 meses"{{Nombre}}"</h5>
                  <form action="/suscripcion/alta" method="post">
                    <input type="hidden" name="IdProducto" value="{{Id}}" />
                    <input type="hidden" name="PeriodoMensual" value=6 />
                    <button class="btn btn-success" type="submit">Suscribirse</button>         
                  </form>                        
              </div>
            </div>
        </div>
    </div>
        <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
              <div class="px-2">
                  <h2 class="card-title">Pago Anual</h2>
                  <img src="../public/{{ Imagen }}" />
                  <h4>${{Mensualidad}}/mes</h4>
                  <h5>durante 12 meses"{{Nombre}}"</h5>
                  <form action="/suscripcion/alta" method="post">
                    <input type="hidden" name="IdProducto" value="{{Id}}" />
                    <input type="hidden" name="PeriodoMensual" value=12 />
                    <button class="btn btn-success" type="submit">Suscribirse</button>         
                  </form>                        
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
               <div class="px-2">
                  <h2 class="card-title">Personalizada</h2>
                  <img src="../public/{{ Imagen }}" />
                  <h4>${{Mensualidad}}/mes</h4>
                  <h5>Periodo personalizado"{{Nombre}}"</h5>
                  <form action="/suscripcion/alta" method="post">
                    <input type="hidden" name="IdProducto" value="{{Id}}" />
                    <input type="number" name="PeriodoMensual" value=2 /> meses
                    <button class="btn btn-success" type="submit">Suscribirse</button>         
                  </form>                                             
              </div>
            </div>
        </div>
    </div>
    {{/producto}}
  </div>
</div>
  {{> footer}}
</div>
