{{> header}}
<div class="container">
    <h1 class="text-center mb-4">Catalogo de productos:</h1>
<div class="row">
  {{#productos}}

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{Nombre}}</h5>
                <img src = "../public/{{Imagen}}">
               
                {{#sesion}}
                <form action="/suscripcion/alta" method="post">
                    <input type="hidden" name="Id" value={{Id}}>
                    <button class="btn btn-success" type="submit" >Suscribirse</button>
                </form>    
                    <a href="/" class="btn btn-primary">Comprar una edición</a>
                {{/sesion}}
            </div>
        </div>
    </div>
    {{/productos}}
</div> 
{{> footer}}