	{{> header}}
<div class="container">
    <h1 class="text-center mb-4">Catalogo de productos</h1>
<div class="row">
  {{#productos}}
    <div class="col-sm-4 text-center mt-3">
        <div class="card mb-2 shadow">
            <div class="card-body pt-4">
                <h3 class="card-title">{{Nombre}}</h3>
                <div class="row py-3" style="max-width: 540p">
                        <div class="text-center">
                        <img src= "../public/{{Imagen}}" class="img-fluid rounded-start" style="width: 190px; height: 290px" alt="...">
                        </div>
                        <!--div class="col-md-8">
                        </div-->
                    </div>
               
                {{#sesion}}
                {{#suscripto}}
                 <form action="/suscripcion/ediciones" method="get"
                    class="d-inline-block py-2 mb-2 me-2">
                    <input type="hidden" name="IdSuscripcion" value={{IdSuscripcion}}>
                    <td><button class="btn btn-success">Leer</button></td>
                </form>
                {{/suscripto}}
                {{^suscripto}}
                <form action="/suscripcion/mostrarAlta" method="GET" class="d-inline-block py-2 mb-2 me-2">
                    <input type="hidden" name="IdProducto" value={{Id}}>
                    <button class="btn btn-success" type="submit" >Suscribirse</button>
                </form>  
                {{/suscripto}}
                <form action="/edicion/listar" method="GET" class="d-inline-block py-2 mb-2">
                    <input type="hidden" name="IdProducto" value={{Id}}>
                    <button class="btn btn-primary" type="submit" >Comprar</a>
                </form>
                {{/sesion}}
            </div>
        </div>
    </div>
    {{/productos}}
</div> 
{{> footer}}