	{{> header}}
<div class="container">
    <h1 class="text-center mb-4">Catalogo de productos</h1>
<div class="row">
  {{#productos}}
    <div class="col-sm-4 text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{Nombre}}</h5>
                <div class="row" style="max-width: 540p">
                        <div class="text-center">
                        <img src= "../public/{{Imagen}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <!--div class="col-md-8">
                        </div-->
                    </div>
               
                {{#sesion}}
                {{#suscripto}}
                 <form action="/suscripcion/mostrarAlta" method="GET">
                    <input type="hidden" name="IdProducto" value={{Id}}>
                    <button class="btn btn-success" type="submit" disabled>Suscribirse</button>
                </form> 
                {{/suscripto}}
                {{^suscripto}}
                <form action="/suscripcion/mostrarAlta" method="GET">
                    <input type="hidden" name="IdProducto" value={{Id}}>
                    <button class="btn btn-success" type="submit" >Suscribirse</button>
                </form>  
                {{/suscripto}}
                <form action="/edicion/listar" method="GET">
                    <input type="hidden" name="IdProducto" value={{Id}}>
                    <button class="btn btn-primary" type="submit" >Comprar</a>
                </form>
                {{/sesion}}
            </div>
        </div>
    </div>
    {{/productos}}
</div> 
{{> footer}}