{{> header}}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
<h1>Ediciones del producto "{{ediciones.0.NombreProducto}}"</h1>
</div>
<div class="d-flex flex-row">
        <div class="col-2 my-5 ">
            <div class="row g-0 text-center"style="max-width: 540px;">
                 <div>
                    <img src= "../public/{{ediciones.0.ImagenProducto}}" class="img-fluid rounded" alt="...">
                 </div>
            </div>
        </div>
        <table class="table">
        <thead class="table-dark">
                <tr>
                    <th scope="col">N°Edicion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Precio actual</th>
                    <th scope="col">Acción</th>
                </tr>
        </thead>
        <tbody>
        {{#ediciones}}
                <tr>
                <td>{{Numero}}</td>
                <td>{{Fecha}}</td>
                <td>${{Precio}}</td>
                {{#Comprado}}
                    <td>
                    <button class="btn btn-secondary" disabled >Comprada</button>
                    </td>
                {{/Comprado}}
                {{^Comprado}}
                <form action="/edicion/comprar" method="post">
                    <input type="hidden" name="IdEdicion" value={{Id}}>
                     <input type="hidden" name="IdProducto" value={{IdProducto}}>
                     <input type="hidden" name="Precio" value={{Precio}}>
                    <td><button class="btn btn-success">Comprar</button></td>
                </form>
                {{/Comprado}}
                </tr>
                <tr>
            </tbody>
        {{/ediciones}}    
        </table>
</div> 
{{> footer}}