{{> header}}
<div class="container overflow-hidden">
  <div class="row gy-5">
  <h1>confirmar tu cuenta</h1>
  <span class="alert alert-primary" role="alert">
  Ya pudimos verificar tu cuenta, podés ingresar mediante el login.
  </span>
  <div class="d-flex justify-content-center md-6">
    <a href="/" class="btn btn-primary">Inicio</a>
    </div>
</div>

{{> footer}}