{{> header}}
<div class="container ">
    <h1 class="text-center">Contenido de la edición del producto</h1>
    <div>
        <div class="col-md-12">
            <div class="alert alert-primary" role="alert">
                <p>
                    Seleccioná la seccion de la edicion para poder acceder y visualizar las noticias.
                </p>
            </div>
            <table class="table table-hover   ">
                <thead class="table-dark ">
                    <tr class="text-center">
                        <th scope="col">Seccion</th>
                        <th scope="col">Cantidad de noticias</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                {{#edicion}}
                <tbody>
                    <tr class="text-center">
                        <td>{{NombreSeccion}}</td>
                        <td>{{CantidadNoticias}}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <div class="px-2">
                                    <form action="/noticia/listarNoticias" method="GET">
                                        <input type="hidden" name="edicion" value={{IdEdicion}}>
                                        <input type="hidden" name="seccion" value={{IdSeccion}}>
                                        <button class="btn btn-primary" type="submit" style="width: 7rem;">Ver</a>
                                    </form>
                                </div>
                                <!--<div class="px-2">
                        <form action="/edicion/desasociarSeccion" method="POST">
                            <input type="hidden" name="edicion" value={{IdEdicion}}>
                        <input type="hidden" name="seccion" value={{IdSeccion}}>
                            <button class="btn btn-danger" type="submit" >Quitar</a>
                        </form>
                    </div>-->
                            </div>
                        </td>
                    </tr>
                </tbody>
                {{/edicion}}
            </table>
        </div>

    </div>
    {{> footer}}