{{> header}}
<div class="container mb-5">
    <div>
        <div class="col-md-12">
            <div class="py-5 d-flex justify-content-between align-items-center" style="" id="band">
                <div class="d-inline-block float-left">
                    <a href="javascript: history.go(-1)" class="btn btn-dark d-flex align-items-center"><i class="bi bi-arrow-left-circle fs-5 me-2"></i>Volver</a>
                </div>
                <h1 class="text-center">Contenido de la edición N° {{edicion.0.Numero}} del producto "{{edicion.0.NombreProducto}}"</h1>
                <div></div>
            </div>

            <div class="text-center">
                <img src= "/public/{{edicion.0.ImagenProducto}}" class="img-fluid rounded mb-5" alt="...">
            </div>
            <div class="alert alert-primary" role="alert">
                <p>
                    Seleccioná la seccion de la edicion para poder acceder y visualizar las noticias.
                </p>
            </div>
            <table class="table table-hover">
                <thead class="table-dark ">
                    <tr class="text-center">
                        <th scope="col">Seccion</th>
                        <th scope="col">Cantidad de noticias</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                {{#edicion}}
                <tbody>
                    <tr class="text-center align-middle">
                        <td>{{NombreSeccion}}</td>
                        <td>{{CantidadNoticias}}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <div class="px-2 py-2">
                                    <form action="/noticia/listarNoticias" method="GET">
                                        <input type="hidden" name="edicion" value={{IdEdicion}}>
                                        <input type="hidden" name="seccion" value={{IdSeccion}}>
                                        <button class="btn btn-primary" type="submit" style="width: 7rem;">Ver</a>
                                    </form>
                                </div>
                                <!--<div class="px-2">
                        <form action="/edicion/desasociarSeccion" method="POST">
                            <input type="hidden" name="edicion" value={{IdEdicion}}>
                        <input type="hidden" name="seccion" value={{IdSeccion}}>
                            <button class="btn btn-danger" type="submit" >Quitar</a>
                        </form>
                    </div>-->
                            </div>
                        </td>
                    </tr>
                </tbody>
                {{/edicion}}
            </table>
        </div>

    </div>
    {{> footer}}