{{> header}}
<div class="container ">
<!--    <div class="d-flex justify-content-md-end pb-3">
        <a href="/producto/alta" class="btn btn-success"  > Alta Nuevo Producto </a>
    </div>-->
    <div>
        <table class="table table-hover   ">
            <thead class="table-dark ">
            <tr class="text-center">
                <th scope="col">Imagen</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Tipo producto</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            {{#productos}}
                <tbody>
                <tr class="text-center align-middle">
                    <td>
                        <div class="row g-0 d-flex justify-content-center"style="max-width: 540px;">
                            <div class="col-md-4 m-4">
                                <img src= "../public/{{Imagen}}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <!--div class="col-md-8">
                            </div-->
                        </div>
                    </td>
                    <td class="fs-5 fw-semibold">{{Nombre}}</td>
                    <td class="fs-5 fw-semibold">{{NombreTipoProducto}}</td>
                    <td>
                        <div class="d-flex flex-column">
                            <div class="px-2 mb-2">
                                <form action="/ediciones/crearEdicion" method="GET">
                                    <input type="hidden" name="Id" value={{Id}}>
                                    <button class="btn btn-success fs-5 class=" type="submit" >Crear Edición</a>
                                </form>
                            </div>
                            <div class="px-2 mt-2">
                                <form action="/ediciones/mostrarEdiciones" method="POST">
                                    <input type="hidden" name="Id" value={{Id}}>
                                    <button class="btn btn-primary fs-5 class=" type="submit" >Ver Ediciones</a>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            {{/productos}}
        </table>
    </div>

</div>
{{> footer}}