{{> header}}
<div class="container">
        <div class="row justify-content-center "> 
                <div class="text-center">
                    <h1>Mi Suscripción "{{ediciones.0.NombreProducto}}" </h1>
                </div>           
                
                 <div class="col-8 my-5 text-center ">
                <div>
                    <img src= "../public/{{ediciones.0.ImagenProducto}}" class="img-fluid rounded" alt="...">
                </div>  
                </div>
                <div class="alert alert-primary" role="alert">
                A continuación vas a visualizar las ediciones correspondientes desde la fecha 
                {{ediciones.0.FechaDesde}} hasta {{ediciones.0.FechaHasta}} 
                para tu suscripción de "{{ediciones.0.NombreProducto}}":
                </div>       
                <div class="col-8">
                    <table class="table">
                        <thead class="table-dark">
                                <tr>
                                    <th scope="col">N°Edicion</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                        </thead>
                        <tbody>
                        {{#ediciones}}
                                <tr>
                                <td>{{Numero}}</td>
                                <td>{{Fecha}}</td>
                                {{#PermiteLectura}}
                                <form action="/edicion/detalle" method="get">
                                    <input type="hidden" name="IdEdicion" value={{Id}}>
                                    <td><button class="btn btn-success">Leer</button></td>
                                </form>
                                {{/PermiteLectura}}
                                </tr>
                                <tr>
                            </tbody>
                        {{/ediciones}}    
                    </table>
                </div>
        </div> 
</div>        
{{> footer}}