{{> header}}
  <body>
    <!--Div that will hold the pie chart-->
    <h2>Estadisticas graficas</h2>
    <div class="row">
      <div class="col-sm-6"> 
        <div id="pieChart_div"></div>
           <div class="d-flex justify-content-center col-md-6">
            <button id = "pdfTorta"class="btn btn-primary">Generar PDF</button>
          </div>
      </div>
      <div class="col-sm-6"> 
        <div id="barChart_div"></div>
         <div class="d-flex justify-content-center col-md-6">
            <button id = "pdfBarra"class="btn btn-primary">Generar PDF</button>
          </div>
      </div>
    </div>
  </body>
  {{> footer}}