<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informacion de productos</title>
  </head>
  <body>
    <div class="container">
      <div class="text-center my-5">
        <h2 >Información de productos</h2>
      </div>
      <div>
        <table class="table table-hover">
          <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de producto</th>
                <th scope="col">Cant.Ediciones</th>
                <th scope="col">Cant.Suscripciones</th>
                <th scope="col">Cant.Compras</th>
            </tr>
          </thead>
          {{#productos}}
          <tbody>
            <tr class="text-center">
              <td>
                <div class="text-center">
                  {{Nombre}}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{tipoproducto}}
                </div>
              </td>
               <td>
                <div class="text-center">
                  {{cantidadEdiciones }}
                </div>
              </td>
                <td>
                <div class="text-center">
                  {{ cantidadSuscripciones }}
                </div>
              </td>
                <td>
                <div class="text-center">
                  {{ cantidadCompras }}
                </div>
              </td>
            </tr>
          </tbody>
          {{/productos}}
        </table>
      </div>
  </body>
</html>

