<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="text-center my-5">
        <h2>Información personal de los usuarios</h2>
      </div>
      <div>
        <table class="table table-hover">
          <thead class="table-dark">
            <tr class="text-center">
              <th scope="col">Nombre</th>
              <th scope="col">Tipo de Usuario</th>
              <th scope="col">Email</th>
              <th scope="col">CoordenadasX</th>
              <th scope="col">CoordenadasY</th>
            </tr>
          </thead>
          {{#usuarios}}
          <tbody>
            <tr class="text-center">
              <td>
                <div class="text-center">
                  {{ Nombre }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ TipoUsuario }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ Email }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ CoordenadasX }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ CoordenadasY }}
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
          {{/usuarios}}
        </table>
      </div>

      <div class="text-center my-5">
        <h2>Productos comprados por los Usuarios</h2>
      </div>
      <div>
        <table class="table table-hover">
          <thead class="table-dark">
            <tr class="text-center">
              <th scope="col">Nombre Usuario</th>
              <th scope="col">Tipo de Usuario</th>
              <th scope="col">Numero Edicion</th>
              <th scope="col">Producto</th>
              <th scope="col">Estado Compra</th>
            </tr>
          </thead>
          {{#productosCompradosPorUsuario}}
          <tbody>
            <tr class="text-center">
              <td>
                <div class="text-center">
                  {{ NombreUsuario }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ TipoUsuario }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ NumeroEdicion }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ Producto }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ EstadoCompra }}
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
          {{/productosCompradosPorUsuario}}
        </table>
      </div>
      <div class="text-center my-5">
        <h2>Productos Suscriptos por Usuario</h2>
      </div>
      <div>
        <table class="table table-hover">
          <thead class="table-dark">
            <tr class="text-center">
              <th scope="col">Nombre Usuario</th>
              <th scope="col">TipoProducto</th>
              <th scope="col">FechaDesde</th>
              <th scope="col">FechaHasta</th>
            </tr>
          </thead>
          {{#productosSuscriptosPorUsuario}}
          <tbody>
            <tr class="text-center">
              <td>
                <div class="text-center">
                  {{ NombreUsuario }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ TipoProducto }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ FechaDesde }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ FechaHasta }}
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
          {{/productosSuscriptosPorUsuario}}
        </table>
      </div>
    </
    </div>
  </body>
</html>
