<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informacion de productos</title>
  </head>
  <body>
    <div class="container">
      <div class="text-center my-5">
        <h2 >Información de productos</h2>
      </div>
      <div>
        <table class="table table-hover">
          <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de producto</th>


            </tr>
          </thead>
          {{#productos}}
          <tbody>
            <tr class="text-center">
              <td>
                <div class="text-center">
                  {{ Nombre }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ NombreTipoProducto }}
                </div>
              </td>
            </tr>
          </tbody>
          {{/productos}}
        </table>
      </div>
        <div class="text-center my-5">
            <h2>Cantidad de productos vendidos</h2>
        </div>
        <div>
            <table class="table table-hover">
                <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Cantidad</th>

                </tr>
                </thead>
                {{#cantidadProductosVendidos}}
                    <tbody>
                    <tr class="text-center">
                        <td>
                            <div class="text-center">
                                {{ NombreProducto }}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{ Cantidad }}
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                {{/cantidadProductosVendidos}}
            </table>
        </div>
        <div class="text-center my-5">
            <h2>Cantidad de productos suscriptos</h2>
        </div>
        <div>
            <table class="table table-hover">
                <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Cantidad</th>


                </tr>
                </thead>
                {{#cantidadProductosSuscriptos}}
                    <tbody>
                    <tr class="text-center">
                        <td>
                            <div class="text-center">
                                {{ NombreProducto }}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{ Cantidad }}
                            </div>
                        </td>


                    </tbody>
                {{/cantidadProductosSuscriptos}}
            </table>
        </div>
        <div class="text-center my-5">
            <h2>Cantidad de ediciones de un producto</h2>
        </div>
        <div>
            <table class="table table-hover">
                <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">Numero de edicion</th>
                    <th scope="col">Cantidad</th>


                </tr>
                </thead>
                {{#cantidadEdicionesDeUnProducto}}
                    <tbody>
                    <tr class="text-center">
                        <td>
                            <div class="text-center">
                                {{ NumeroEdicion }}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{ Cantidad }}
                            </div>
                        </td>


                    </tbody>
                {{/cantidadEdicionesDeUnProducto}}
            </table>
        </div>
    </div>
  </body>
</html>

