{{> header}}
<div class="container" id="listarNoticias">
    {{#sesion}}
        <div class="d-flex justify-content-md-end pb-3 mt-4">
            <form action="/noticia/alta" method="POST">
                <input type="hidden" name="IdEdicionSeccion" value={{IdEdicionSeccion}}>
                <button type="submit" class="btn btn-success">Alta Noticia</button>
            </form>
        </div>
        <table class='table table-hover'>
            <thead class='table-dark'>
                <tr class='text-center'>
                    <th scope='col'>Titulo Noticia</th>
                    <th scope='col'>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#noticias}}
                <tr class='text-center' id="noticia{{Id}}">
                    <td>{{Titulo}}</td>
                    <td>
                        {{#SoloContenidista}}
                            <div class='d-flex justify-content-center'>
                                <div class='px-2'>
                                    <button class='btn btn-primary' type='button' value="{{Id}}">Modificar Noticia</button>
                                </div>
                                <div class='px-2'>
                                    <button class='btn btn-danger borrar' type='button' value="{{Id}}">Borrar Noticia</button>
                                </div>
                            </div>
                        {{/SoloContenidista}}
                    </td>
                </tr>
                {{/noticias}}
            </tbody>
        </table>
    {{/sesion}}
</div>
<script type="text/javascript" src="../public/js/ajax.js"></script>
{{> footer}}