 {{> header}}
   <div class="container my-5">
      <div class="row justify-content-center ">
        <h2 class="text-center my-5">Formulario modificacion producto</h2>
        <div class="col-6 align-middle bg-light p-2">
            {{#producto}}
            <form class="row g-3" action="/producto/modificarProducto" method="post" enctype="multipart/form-data">
                        <div class="col-4 mb-2">
                            <label for="nombre">Nombre del producto: </label>
                        </div>
                        <div class="col-8 mb-2">
                            <input type="text" id="nombre" name="nombreProducto" class="form-control" value="{{Nombre}}">
                        </div>
                        <div class="col-4 mb-2">
                            <label for="nombre">Cambiar tipo de producto: </label>
                        </div>
                        {{#EsDiario}}
                        <div class="col-8 d-flex mb-2">
                            <div class="col-6">
                                <input type="radio" name="tipoProducto" id="revista" value="2"/>
                                <label for="revista">Revista</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" name="tipoProducto" id="diario" value="1" checked/>
                                <label for="diario">Diario</label>
                            </div>
                        </div> 
                        {{/EsDiario}}
                        {{^EsDiario}}
                         <div class="col-8 d-flex mb-2">
                            <div class="col-6">
                                <input type="radio" name="tipoProducto" id="revista" value="2" checked/>
                                <label for="revista">Revista</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" name="tipoProducto" id="diario" value="1" />
                                <label for="diario">Diario</label>
                            </div>
                        </div> 
                        {{/EsDiario}} 
    

                        <div class="col-12 my-5 ">
                                 <div class="row g-0 text-center"style="max-width: 540px;">
                                    <div>
                                       <img src= "../public/{{Imagen}}" class="img-fluid rounded" alt="...">
                                    </div>
                                 </div>
                        </div>      
                        <div class="col-4 mb-2">
                                <label for="imagen">Cambiar imagen del producto: </label>
                        </div>
                        <div class="col-8 mb-2">
                                <input type="file" id="imagen" name="imagen" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label for="mensualidad">Mensualidad($): </label>
                        </div>
                        <div class="col-8 mb-2">
                            <input type="number" id="mensualidad" name="mensualidad" class="form-control" value="{{Mensualidad}}">
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="hidden" name="Id" value={{Id}} />
                            <input type="hidden" name="imageOld" value={{Imagen}} />
                            <input type="submit" class='btn btn-success' name="publicar" value="Modificar Producto">
                        </div>              
            </form>
            {{/producto}}
      </div> 
   </div>

    {{> footer}}

