 {{> header}}
   <div class="container my-5">
      <div class="row justify-content-center ">
        <h2 class="text-center my-5">Formulario modificacion producto</h2>
        <div class="col-6 align-middle bg-light p-2">
            {{#producto}}
            <form class="row g-3" action="/producto/modificarProducto" method="post" enctype="multipart/form-data">
                        <div class="col-4 mb-2">
                            <label for="nombre">Nombre del producto: </label>
                        </div>
                        <div class="col-8 mb-2">
                            <input type="text" id="nombre" name="nombreProducto" class="form-control" placeholder="{{Nombre}}">
                        </div>
            
                        <div class="col-4 mb-2">
                         <label for="nombre">El producto es de tipo: </label>
   
                        </div>
                        <div class="col-8 mb-2">
                         <input type="text" id="nombre" name="nombreProducto" class="form-control" placeholder="{{NombreTipoProducto}}" readonly>
                        </div>

                        <div class="col-4 mb-2">
                            <label for="nombre">Cambiar tipo de producto: </label>
                        </div>
                        <div class="col-8 d-flex mb-2">
                            <div class="col-6">
                                <input type="radio" name="tipoProducto" id="revista" value="revista"/>
                                <label for="revista">Revista</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" name="tipoProducto" id="diario" value="diario"/>
                                <label for="diario">Diario</label>
                            </div>
                        </div>  

                        <div class="col-12 my-5 ">
                                 <div class="row g-0 text-center"style="max-width: 540px;">
                                    <div>
                                       <img src= "../public/{{Imagen}}" class="img-fluid rounded" alt="...">
                                    </div>
                                 </div>
                        </div>      
                        <div class="col-4 mb-2">
                                <label for="imagen">Cambiar imagen del producto: </label>
                        </div>
                        <div class="col-8 mb-2">
                                <input type="file" id="imagen" name="imagen" class="form-control">
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="hidden" name="Id" value={{Id}}>
                            <input type="submit" class='btn btn-success' name="publicar" value="Modificar Producto">
                        </div>              
            </form>
            {{/producto}}
      </div> 
   </div>

    {{> footer}}

