 {{> header}}
   <div class="container">
      <form class="row g-3" action="/noticia/publicar" method="post" enctype="multipart/form-data">

         <input type="hidden" name="IdEdicionSeccion" value={{IdEdicionSeccion}}>

         <label for="titulo">Título de la noticia:</label>
         <input type="text" id="titulo" name="titulo" class="form-control" required>

         <label for="subtitulo">Subtítulo de la noticia:</label>
         <input type="text" id="subtitulo" name="subtitulo" class="form-control" required>

         <label for="cuerpo">Cuerpo de la noticia:</label>
         <textarea id="cuerpo" name="cuerpo" class="form-control" rows="15" required></textarea>

         <label for="imagen">Insertar imagen: </label>
         <input type="file" id="imagen" name="imagen" class="form-control" required>

         <label for="link">Insertar un link a mayor información (opcional):</label>
         <input type="text" id="link" name="link" class="form-control">

         <label for="foto_o_video">Foto o video adicional (opcional):</label>
         <input type="file" id="foto_o_video" name="foto_o_video" class="form-control">

         <div class="row my-4 g-2">
            <label class="row" for="grabacion">Grabar un audio (opcional):</label>
            <input type="file" id="grabacion" name="grabacion" class="form-control" hidden>
            <button type="button" id="start" class="btn col-md-1 btn-success">Start</button>
            <button type="button" id="stop" class="btn col-md-1 btn-danger" disabled>Stop</button>
            <span id="grabando" class="col-md-10"></span>
            <audio id="reproducir" hidden class="col-md-4" controls></audio>
         </div>

         <div class="d-flex justify-content-center col-md-12">
            <input type="submit" class='btn btn-success' name="publicar" value="Publicar">
         </div>
                     
      </form>
   </div>
   <script type="text/javascript" src="../public/js/audio.js"></script>
 {{> footer}}