{{> header}}
   <div class="container ">
        <div class="row">
            <div class="col-md-3">
                <select name="productos" id="productos" class="form-select" >
                    <option value="default" selected>Seleccione un producto</option>
                    {{#productos}}
                    <option value="{{Id}}">{{Nombre}}</option>
                    {{/productos}}
                </select>
            </div>
            <div class="col-md-3 listas" id="listarEdiciones"></div>
            <div class="col-md-3 listas" id="listarSecciones"></div>
        </div>
        <div class="row" id="listarNoticias"><h1 class="display-1 text-center m-4">ABM NOTICIA</h1></div>
   <script type="text/javascript" src="../public/js/ajax.js"></script>
 {{> footer}}