 {{> header}}
{{#sesion}}
    <div class="container" id="pendientes">
    <h1 class="text-center">Noticias pendientes de aprobación</h1>
    <div class="d-flex justify-content-md-start pb-4">
        <a href="/" class="btn btn-dark d-flex align-items-center"><i class="bi bi-arrow-left-circle fs-5 me-2"></i>Volver</a>
    </div>
    <div id="mensajeAlerta" class="alert alert-success" role="alert">
    mensaje de alerta
    </div>
    <table id="tablaNoticias" class='table table-hover table-striped'>
        <thead>
        <tr class='text-center table-dark'>
            <th scope='col'>Foto</th>
            <th scope='col'>Titulo Noticia</th>
            <th scope='col'>Producto</th>
            <th scope='col'>Edicion</th>
            <th scope='col'>Seccion</th>
            <th scope='col'>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#noticiasAAprobar}}
            <tr class='text-center' id="noticia{{Id}}">
                <td><img src="/public/{{Imagen}}" class="p-3" alt="Imagen" style="width: 22rem; height: 14rem; object-fit: cover"></td>
                <td >{{Titulo}}</td>
                <td>{{Producto}}</td>
                <td>{{Edicion}}</td>
                <td>{{Seccion}}</td>
                <td class="col-md-5">
                <div class='d-flex justify-content-center flex-column'>
                        <form action="/noticia/leer" method="POST">
                                        <div class='px-2 py-1'>
                                            <button class='btn btn-info text-light leer editor{{IdEstadoNoticia}}' name="idNoticia" style="width: 9rem;" type='submit'
                                                    value="{{Id}}">
                                                Leer
                                            </button>
                                        </div>
                                </form>
                        {{#SoloEditor}}
                        <div class='px-2 py-1'>
                            <button class='btn btn-success aprobar{{IdEstadoNoticia}}' id="aprobar2"
                                style="width: 9rem;" name="aprobar" type='button' value="{{Id}}">
                                Aprobar
                            </button>
                        </div>
                        <div class='px-2 py-1'>
                            <button class='btn btn-danger rechazar{{IdEstadoNoticia}}' id="rechazar2"
                                style="width: 9rem;" name="rechazar" type='button' value="{{Id}}">
                                Rechazar
                            </button>
                        </div>
                    </div>
                    </tr>
                    {{/SoloEditor}}
        {{/noticiasAAprobar}}
        </tbody>
    </table>
{{/sesion}}
</div>
<script type="text/javascript" src="/public/js/noticias.js"></script>
{{> footer}}