{{header}}

{{#sesion}}
    <h1 class="text-center">Noticias a aprobar</h1>
    <table id="tablaNoticias" class='table table-hover table-striped'>
        <thead>
        <tr class='text-center table-dark'>
            <th scope='col'>Titulo Noticia</th>
            <th scope='col'>Diario o Revista</th>
            <th scope='col'>Edicion</th>
            <th scope='col'>Seccion</th>
            <th scope='col'>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#SoloEditor}}{{#noticias}}
            <tr class='text-center' id="noticia{{Id}}">
                <td>{{Titulo}}</td>
                <td>{{Producto}}</td>
                <td>{{Edicion}}</td>
                <td>{{Seccion}}</td>
                <td class="col-md-5">
                    <div class='d-flex justify-content-center'>
                        {{#EsEditor}}
                            <form action="/noticia/leer" method="POST">
                                <div class='px-2'>
                                    <button class='btn btn-info text-light leer editor{{IdEstadoNoticia}}' name="idNoticia" style="width: 9rem;" type='submit'
                                            value="{{Id}}">
                                        Leer
                                    </button>
                                </div>
                            </form>
                        {{/EsEditor}}
                        {{#SoloEditor}}
                            <div class='px-2'>
                                <button class='btn btn-success aprobar{{IdEstadoNoticia}}' id="aprobar{{Id}}"
                                        style="width: 9rem;" name="aprobar" type='button' value="{{Id}}" disabled>
                                    Aprobar
                                </button>
                            </div>
                            <div class='px-2'>
                                <button class='btn btn-danger rechazar{{IdEstadoNoticia}}' id="rechazar{{Id}}"
                                        style="width: 9rem;" name="rechazar" type='button' value="{{Id}}" disabled>
                                    Rechazar
                                </button>
                            </div>
                        {{/SoloEditor}}


                    </div>
                </td>
            </tr>
        {{/noticias}}{{/SoloEditor}}
        <tbody>
        {{#SoloEditor}}{{#noticias}}{{#Publicada}}
            <tr class='text-center' id="noticia{{Id}}">
                <td>{{Titulo}}</td>
                <td>{{Producto}}</td>
                <td>{{Edicion}}</td>
                <td>{{Seccion}}</td>
                <td class="col-md-5">
                    <div class='d-flex justify-content-center'>
                        <form action="/noticia/leer" method="POST">
                            <div class='px-2'>
                                <button class='btn btn-info text-light leer' name="idNoticia" style="width: 9rem;" type='submit'
                                        value="{{Id}}">
                                    Leer
                                </button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        {{/Publicada}}{{/noticias}}{{/SoloEditor}}
        </tbody>
    </table>
{{/sesion}}