{{> header}}
<div class="container" id="noticias" style="min-height:calc(100vh - 17.5rem);">
    {{#sesion}}    
        {{#SoloContenidista}}
        {{#IdEdicionSeccion}}
            <h3>{{errMsg}}</h3>
            <div class="d-flex justify-content-md-end pb-3 mt-4">
                <form action="/noticia/alta" method="POST">
                    <input type="hidden" name="IdEdicionSeccion" value={{IdEdicionSeccion}}>
                    <button type="submit" class="btn btn-success">Alta Noticia</button>
                </form>
            </div>
        {{/IdEdicionSeccion}}
        {{/SoloContenidista}}
        {{^IdEdicionSeccion}}
            <input class="form-control d-inline mb-2" type="text" name="busqueda" id="busqueda" placeholder="Buscar noticia...">
        {{/IdEdicionSeccion}}
    {{/sesion}}
        <div id="listarNoticias">
            {{> tablaNoticias}}
        </div>
</div>
<script type="text/javascript" src="/public/js/ajax.js"></script>
{{> footer}}