 {{> header}}
   <div class="container ">
       <div class="py-5 d-flex justify-content-between align-items-center" id="band">
           <div class="d-inline-block float-left">
               <a href="/" class="btn btn-dark d-flex align-items-center"><i class="bi bi-arrow-left-circle fs-5 me-2"></i>Volver</a>
           </div>
           <h1 class="text-center"> ABM de productos</h1>
           <div></div>
       </div>

        <div class="d-flex justify-content-md-end pb-3">
            <a href="/producto/alta" class="btn btn-success"  > Alta Nuevo Producto </a>
        </div>
        
        <div>
            <table class="table table-hover">
            <thead class="table-dark ">
                <tr class="text-center">
                <th scope="col">Imagen</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Tipo producto</th>
                <th scope="col">Acciones</th>
                </tr>
            </thead>
            {{#productos}}
            <tbody>
                <tr class="text-center align-middle fs-5">
                <td> 
                    <div class="row g-0 justify-content-center" style="max-width: 540px;">
                        <div class="col-md-4 my-3">
                        <img src= "../public/{{Imagen}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <!--div class="col-md-8">
                        </div-->
                    </div>
                </td>
                <td>{{Nombre}}</td>
                <td>{{NombreTipoProducto}}</td>
                <td>
                <div class="d-flex justify-content-center">
                    <div class="px-2">
                        <form action="/producto/modificar" method="GET">
                            <input type="hidden" name="Id" value={{Id}}>
                            <button class="btn btn-primary" type="submit" >Modificar Producto</a>
                        </form>
                    </div>
                    <div class="px-2">
                        <form action="/producto/baja" method="POST">
                            <input type="hidden" name="Id" value={{Id}}>
                            <button class="btn btn-danger" type="submit" >Baja Producto</a>
                        </form>
                    </div>
                </div>
                </td>
                </tr>
            </tbody>
            {{/productos}}
            </table>
        </div>

   </div>
 {{> footer}}