<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reporte Mis suscripciones</title>
  </head>
  <body>
    <div class="container">
      <div class="text-center my-5">
        <h2>Reporte de suscripciones a producto</h2>
      </div>
      <div>
        <table class="table table-hover">
          <thead class="table-dark">
            <tr class="text-center">
            <th scope="col">Código de producto</th>
            <th>Nombre Producto</th>
            <th scope="col">Tipo Producto</th>
            <th scope="col">Fecha vigencia desde</th>
            <th scope="col">Fecha vigencia hasta</th>
            </tr>
          </thead>
          {{#suscripciones}}
          <tbody>
            <tr class="text-center">
              <td>
                <div class="text-center">
                  {{Id}}
                </div>
              </td>
                 <td>
                <div class="text-center">
                  {{NombreProducto}}
                </div>
              </td>
                <td>
                <div class="text-center">
                  {{NombreTipoProducto}}
                </div>
              </td>
                <td>
                <div class="text-center">
                  {{FechaDesde}}
                </div>
              </td>
                <td>
                <div class="text-center">
                  {{FechaHasta}}
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
          {{/suscripciones}}
        </table>
      </div>
    </div>
    <
  </body>
</html>
