{{> header}}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
<h1>Mis suscripciones</h1>
</div>

<div class="container">        
        <div class="row">
                <table class="table">
                        <thead class="table-dark">
                                <tr class="text-center">
                                        <th scope="col">Producto</th>
                                        <th>Nombre Producto</th>
                                        <th scope="col">Tipo Producto</th>
                                        <th scope="col">Vigencia</th>
                                        <th scope="col">Autogestion</th>
                                </tr>
                        </thead>
                {{#suscripciones}}
                <tbody>
                        <tr class="text-center">
                                <td> 
                                <div class="col-12 my-5 ">
                                        <div class="row g-0 text-center"style="max-width: 540px;">
                                                <div>
                                                <img src= "../public/{{Imagen}}" class="img-fluid rounded" alt="...">
                                                </div>
                                        </div>
                                </div>
                                </td>
                                <td class="align-middle"><p>{{NombreProducto}}</p>
                                </td>
                                <td class="align-middle">{{NombreTipoProducto}}</td>
                                <td class="align-middle">{{FechaDesde}} a {{FechaHasta}}</td>
                                <td class="align-middle">
                                        <div class="py-2">                                        <form action="/suscripcion/   baja" method="post">
                                                 <input type="hidden" name="IdProducto" value={{IdProducto}}>       
                                                 <button class="btn btn-danger" type="submit" >Desuscribirse</button>
                                                </form>
                                        </div>
                                        <div class="py-2">                                        <form action="/suscripcion/ediciones" method="post">
                                                <input type="hidden" name="IdProducto" value={{IdProducto}}>       
                                                <button class="btn btn-info" type="submit" >Ediciones</button>
                                        </form> 
                                        </div>
                                </td>
                                </tr>
                        <tr>
                </tbody>
                {{/suscripciones}}    
                </table>
        </div> 
</div>
{{> footer}}