{{> header}}
<div class="container">
<form class= "form-column-center" action="registrar.php" method="POST" enctype="multipart/form-data">
    
    <label for="codigo">Ingrese el codigo recibido a su email</label>
    <input type="text" id="codigo" class="form-control" name="codigo" placeholder="xxxxxx">

    <input type='submit' class='btn btn-dark' name='registrar' value='registrar'>
</form>
</div>
{{> footer}}